body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #A3CFCD; */
    /* position: relative; */
}
/* div{
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 8px;
}
#page1{
    width: 90%;
    left: -5%;
    right: 0;
    margin: auto;
    margin-top: 2rem;
    z-index: 1;
}
#page2{
    border: 2px solid white;
    width: 30%;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 5rem;
    z-index: 1;
}
#page3{
    width: 70%;
    left: 0;
    right: -15%;
    margin: auto;
    margin-top: 11rem;
    z-index: 5;
}
div img{
    display: block;
    height: auto;
    max-width: 100%;
} */


/* nav-bar **************************************************/
/* nav-bar **************************************************/
/* nav-bar **************************************************/
.home-icon{
    width: 1.7rem;
    display: block;
    transition: .2s;
}
.home-icon:hover{
    transform: scale(1.1);
}
.nav-wrapper{
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #d8d8d8;
}
.nav{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.list-wrapper{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.list-wrapper li{
    cursor: pointer;
    padding: .5rem 1rem;
    font-weight: 400;
    position: relative;
    transition: .5s;
}
.list-wrapper li::after {
    content: '';
    display: block;
    width: 70%;
    height: .2rem;
    position: absolute;
    bottom: .1rem;
    left: 0;
    right: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: #82A0AA;
    
}
.list-wrapper li:hover::after{
    right: 0;
    background-color: #82A0AA;
}

.list-wrapper li:hover::after{
    animation: underline-animate .2s;
    animation-iteration-count: 1;
}
.list-wrapper li::after:hover{
    background:  red;
}

/* greeting **************************************************/
/* greeting **************************************************/
/* greeting **************************************************/
.greeting-wrapper{
    font-weight: 300;
    font-size: 1.5rem;
    width: 80%;
    margin: auto;
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.greeting-wrapper p{
    line-height: 2.5rem;
}


.wave {
    animation-name: wave-animation;  
    animation-duration: 2s;        
    animation-iteration-count: infinite; 
    transform-origin: 80% 80%;
    display: inline-block;
} 
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
    10% { transform: rotate(14.0deg) }  
    20% { transform: rotate(-8.0deg) }
    30% { transform: rotate(14.0deg) }
    40% { transform: rotate(-4.0deg) }
    50% { transform: rotate(10.0deg) }
    60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
}

/* works ******************************************************/
/* works ******************************************************/
/* works ******************************************************/

.works-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    border: 1px solid black;
    justify-content: start;
    gap: 1.85rem;
}
.work-content-wrapper{
    width: calc(33% - 1rem);
    border: 1px solid black;
}
.work-content-wrapper{
    position: relative;
}
.content-img-wrapper img{
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}